# -------------------------------------
# Copyright (c) 2023, Dror Kabely
# -------------------------------------
#

# networking
requests==2.31.0
beautifulsoup4==4.12.2
hjson

# deep learning
torch==2.1.2
torchvision==0.16.2
torchaudio==2.1.2
datasets==2.16.0
transformers==4.36.2
peft

# misc
matplotlib

# testing
pytest==7.4.2